<div class="board">
    <div class="column">
        <div class="column-header"><h2>A Fazer </h2></div>
            <button class="btn">Nova Tarefa</button>
            <div class="example-box" cdkDropListGroup>
                <div class="example-box" cdkDrag><app-cards></app-cards></div>
                <div class="example-box" cdkDrag><app-cards></app-cards></div>
                <div class="example-box" cdkDrag><app-cards></app-cards></div>
                <div class="example-box" cdkDrag><app-cards></app-cards></div>
            </div>
    </div>
    <div class="column">
        <div class="column-header"><h2>Em Progresso</h2></div>

        <button class="btn">Nova Tarefa</button>
    </div>
    <div class="column">
        <div class="column-header"><h2>Feito</h2></div>

        <button class="btn">Nova Tarefa</button>
    </div>
</div>